#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.8rem;
    padding: 0px 31px;
    margin-left: -42px;
    
}

#home{
height: 375px;
padding: 3px 68px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 10px;
    color: black;
}
#home h1{
    font-size: 20px;
    color: black;
    
}
#ser{
flex-direction: column;
}
#ser .box{
    
    margin: 26px -34px;
   
    height: 661px;
}

#ser .box{
    padding: 0px 8px;
}
.btn{

        padding: 8px 24px;
        background: none;
        border-radius: 30px;
        border: 2px solid black;
        margin: 39px;
        font-size: 14px;
        cursor: pointer;
    
}
